@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");

/* 전체 네비게이션 */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0 80px;
  height: 129px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  font-family: "Noto Sans KR", "Roboto", sans-serif;
}

/* 상단 컨테이너 */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-top: 10px;
  gap: 20px; /* 요소 간격 추가 */
  margin-left: 75px;
}

.navbar .nav-container .second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next {
  display: flex;
}

/* 로고 */
.nav-logo img {
  width: 200px;
  height: auto;
}

/* 상단 메뉴 */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}

/* .nav-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
} */

/* .nav-menu li a.active {
  font-weight: bold;
  border-bottom: 2px solid #0078ff;
  color: #0078ff;
} */

/* 로그인/로그아웃 */
.nav-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  color: gray;
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  margin-right: 50px;
}

.nav-login a {
  text-decoration: none;
  color: black;
  margin-left: 30px; /* 버튼 간 간격 */
  font-weight: bold;
  padding: 5px;
}

.nav-login a:hover {
  text-decoration: underline;
}

/* 기부 현황 */
.donation-container {
  margin-top: 10px;
  display: flex; /* Flexbox를 활성화 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  text-align: center; /* 내부 텍스트 가운데 정렬 */
}
/* 검색창 */
.search-bar {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  width: 70%;
}

.search-bar form {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.search-bar input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #ddd;
  /* border-radius: 4px 0 0 4px; */
}

.search-bar button {
  padding: 8px 10px;
  background-color: gray;
  border: none;
  /* border-radius: 0 4px 4px 0; */
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: black;
}

.menu-bar {
  display: flex;
  justify-content: center;
  gap: 150px;
  list-style: none;
  padding: 0;
}

.menu-bar li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.menu-bar li a:hover {
  color: black;
  padding-top: 8px;
  border-bottom: 2px solid black;
}

.menu-bar li a.active {
  font-weight: bold;
  border-bottom: 2px solid black;
  color: black;
  padding-top: 8px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.ad-content img {
  max-width: 100px;
  max-height: 100px;
}

@media (max-width: 768px) {
  .menu-bar {
    gap: 100px;
  }
}

@media (max-width: 480px) {
  .menu-bar {
    gap: 30px;
  }
}
